# Dependencies
node_modules
.pnp
.pnp.js
.next

# Testing
coverage

# Production
dist
build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.npmrc

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# IP-PBX SaaS System.pdf
examples/ip-pbx-app
examples/newplayground
examples/playground
examples/kanban-dashboard
examples/my-app
examples/pi-junction
examples/srcroot-agency
examples/srcroot-ecommerce
examples/srcroot-ippbx
examples/srcroot-education
examples/srcroot-enterprise
examples/srcroot-finance
examples/srcroot-healthcare
examples/srcroot-hotel
examples/srcroot-media
examples/srcroot-restaurant
examples/srcroot-saas
examples/srcroot-social
examples/srcroot-warehouse
examples/srcroot-pm
IP-PBX SaaS System.md
IP-PBX SaaS System Story.md
